:root {
    --color-primary_brand: #2e51a2;
    --color-primary_brand-dark-variant: #1a3274;
    --color-primary_brand-light-variant: #E1E7F5;
    --color-background_white: #F6F6F6;
    --color-text-dark_white: #323232;
    --color-border_white: #e0e0e0;
    --color-devider: #4a6fc7;
    --border-radius-1: 0.2rem;
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--color-background_white);
    color: var(--color-text-dark_white);
    font-family: var(--font-main);
    letter-spacing: .8px;
}

header {
    margin: 0 13%;
    display: grid;
    grid-template-rows: auto auto auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-background_white);
}

.header-upper, .header-middle, .header-lower { display: flex; align-items: center; justify-content: space-between; }
.header-middle { background-color: var(--color-primary_brand); color: white; height: 40px; padding: 0 11px; border-radius: 4px 4px 0 0; }
.header-lower { background-color: var(--color-primary_brand-light-variant); border-bottom: 1px solid var(--color-primary_brand); height: 40px; padding: 0 11px; }

main {
    margin: 0 13% 20px;
    display: grid;
    grid-template-columns: 250px 1fr;
    border: 1.5px solid var(--color-border_white);
    background-color: #fff;
}