:root {
    --color-primary_brand: #2e51a2;
    --color-primary_brand-dark-variant: #1a3274;
    --color-primary_brand-light-variant: #E1E7F5;
    --color-background_white: #F6F6F6;
    --color-text-dark_white: #323232;
    --color-border_white: #e0e0e0;
    --color-devider:#4a6fc7;
    --border-radius-1: 0.2rem;
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--color-background_white);
    color: var(--color-text-dark_white);
    font-family: var(--font-main);
    letter-spacing: .8px;
    scroll-behavior:smooth;
    text-decoration: none;
}


header {
    margin: 0 13%;
    display: grid;
    grid-template-rows: auto auto auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-background_white);
}

.header-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo { width: 200px; height: 50px; display: flex; align-items: center; cursor: pointer;}
.logo img { width: 100%; height: 100%; object-fit: contain; }

.profile { display: flex; align-items: center; cursor: pointer; color: var(--color-text-dark_white); font-weight: bold; }
.profile img { width: 30px; height: 30px; border-radius: var(--border-radius-1); border: 1px solid var(--color-border_white); margin-left: 10px; }
.devider1 { height: 30px; color: var(--color-devider); margin: 10px; border: 1px solid; }

.header-middle {
    background-color: var(--color-primary_brand);
    border-top-left-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
    color: var(--color-text-dark_white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px;
    height: 40px;
}

.topButton { display: flex; align-items: center; margin-left: -10px; height: 10px; }
.topButton span { color: white; padding: 10px 13px; font-size: 12px; font-weight: bold; display: block; cursor: pointer; }
.topButton span:hover { background-color: var(--color-primary_brand-dark-variant); border-radius: var(--border-radius-1); }

.search-bar .search { padding: 0 6px; border-radius: var(--border-radius-1); border: .5px solid var(--color-border_white); font-size: 11px; width: 100%; height: 25px; margin-right: 90px; }

.header-lower {
    background-color: var(--color-primary_brand-light-variant);
    color: var(--color-text-dark_white);
    border-bottom: .5px solid var(--color-primary_brand);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 11px;
}
.header-lower span { font-size: large; font-weight: bold; color: black; }
.header-lower img { height: 30px; width: 30px; cursor: pointer; }


main {
    margin: 0 13%; 
    background-color: #ffffff;
    padding: 40px;
    min-height: 500px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}


.feild {
    display: grid;
    grid-template-columns: 250px 1fr 100px; 
    gap: 15px; 
    margin-bottom: 30px;
    align-items: center;
}
