.error-bar {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 0.5em;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F6F6F6;
    grid-auto-rows: auto;
    justify-items: center;
    align-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #00416a;

}
.back {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}

.signup-box {
    box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    text-align: center;
    border-radius: .5em;
    margin: 0 auto;
}

h2 {
    color: #f1f5feff;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.feild {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: #eef2fbff;
}

input {
    background: transparent;
    color: #eef2fbff;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: .5em;
}
input::placeholder{
    color: #eef2fbff;
}

input:focus {
    border-color: #4a78e4ff;
    outline: none;
}

.btn-create {
    width: 64%;
    padding: 10px;
    background: transparent;
    color: #eef2fbff;
    border: 2px solid #ddd;
    font-weight: bold;
    cursor: pointer;
    border-radius: .5em;
}

.btn-create:hover {
    
    background-color: rgb(255, 255, 255 );
    color: #000;
}
.btn-create:active{
    opacity: 1;
    scale: 0.98;
}

.ChangeBG {
    padding: 10px;
    background: transparent;
    color: #eef2fbff;
    border: 1px solid #ddd;
    font-weight: lighter;
    cursor: pointer;
    border-radius: .5em;

    position:fixed;
    bottom: 10px;
    left: 10px;

}
.ChangeBG:hover {
    
    background-color: rgb(214, 214, 214);
    color: #000;
}
.ChangeBG:active{
    opacity: 1;
    scale: 0.98;
}


.login-link {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 25px;
    background-color: #f0f4ffff;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    border-radius: .5em;
}

.login-link:hover {
    background-color: #d2dfffff;
}

.divider {
    margin-top: 15px;
    font-size: 12px;
    color: #ffffffff;
}

.logo {
    width: 300px;
    height: 100px;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(1px 0 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
}