.search-bar {
    position: relative;
    width: 300px;


}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #5076cf;
    border: 1px solid #ccc;
    
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}
.search-item {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
    gap: 10px; 
    padding: 5px;
    text-decoration: none;
    color: inherit;
    color: white;
}

.search-item:hover {
    background-color: #2e51a2;
    color: white;
}

.search-item-title {
    font-weight: bold;
    overflow: hidden;
}

.search-item-image {
    width: 40px;
    height: 60px;
    object-fit: cover;
    border-radius: 2px;
}
