:root {
    --color-primary_brand: #2e51a2;
    --color-primary_brand-dark-variant: #1a3274;
    --color-primary_brand-light-variant: #E1E7F5;
    --color-background_white: #F6F6F6;
    --color-text-dark_white: #323232;
    --color-text-muted: #707070;
    --color-border_white: #e0e0e0;
    --color-devider: #4a6fc7;
    --border-radius-1: 0.2rem;
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    --color-bg-card: #ffffff;
    --color-bg-comment: #f4f4f4;
    --color-bg-input: #ffffff;
    --color-bg-bar: #ebebeb;
}

body.dark-theme {
    --color-background_white: #121212;
    --color-text-dark_white: #e7eaf0;
    --color-text-muted: #b0b6c3;
    --color-border_white: #2e3545;
    --color-primary_brand-light-variant: #182033;

    --color-bg-card: #1a1f2b;
    --color-bg-comment: #161b25;
    --color-bg-input: #161b25;
    --color-bg-bar: #2e3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background_white);
    color: var(--color-text-dark_white);
    font-family: var(--font-main);
    letter-spacing: .8px;
    scroll-behavior: smooth;
    text-decoration: none;
}


header {
    margin: 0 13%;
    display: grid;
    grid-template-rows: auto auto auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-background_white);
}

.header-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-name {
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-text-dark_white);
    font-weight: bold;
    margin-left: 10px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-border_white);
    margin-right: 10px;
}

.devider1 {
    height: 30px;
    color: var(--color-devider);
    margin: 10px;
    border: 1px solid;
}

.header-middle {
    background-color: var(--color-primary_brand);
    border-top-left-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
    color: var(--color-text-dark_white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px;
    height: 40px;
}

.topButton {
    display: flex;
    align-items: center;
    margin-left: -10px;
    height: 10px;
}

.topButton span {
    color: white;
    padding: 10px 13px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.topButton span:hover {
    background-color: var(--color-primary_brand-dark-variant);
    border-radius: var(--border-radius-1);
}

.search-bar .search {
    padding: 0 6px;
    border-radius: var(--border-radius-1);
    border: .5px solid var(--color-border_white);
    font-size: 11px;
    width: 100%;
    height: 25px;
    margin-right: 90px;
    background-color: var(--color-bg-input);
    color: var(--color-text-dark_white)
}

.header-lower {
    background-color: var(--color-primary_brand-light-variant);
    color: var(--color-text-dark_white);
    border-bottom: .5px solid var(--color-primary_brand);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 11px;
}

.header-lower span {
    font-size: large;
    font-weight: bold;
    color: var(--color-text-dark_white);
}

.header-lower img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}


main {
    position: relative;
    margin: 0 13%;
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-bottom: 150px;
    border-bottom: 1.5px solid var(--color-border_white);
    border-left: 1.5px solid var(--color-border_white);
    border-right: 1.5px solid var(--color-border_white);
    font-size: small;
    font-weight: 600;
}

.leftSection {
    padding: 10px;
    min-height: 800px;
    border-right: 2px solid var(--color-border_white);
}

.sidebar-fieldset {
    width: 100%;
    height: auto;
    padding: 15px;
    border: 1px solid var(--color-border_white);
    background-color: var(--color-bg-card);
}

.user-avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.user-avatar-img {
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
}

.sidebar-content {
    font-size: 12px;
}

.sidebar-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.joined-row {
    margin-bottom: 15px;
}

.status-online {
    color: green;
}

.text-blue {
    color: blue;
}

.list-btn-row {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.list-btn {
    flex: 1;
    background-color: var(--color-primary_brand);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
    font-weight: bold;
}

.sidebar-divider {
    border-bottom: 1px solid var(--color-border_white);
    margin: 10px 0;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statbtn {
    color: var(--color-devider);
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    width: auto;
    text-align: left;
    background: transparent;
}

.statbtn:hover {
    text-decoration: underline;
}

.friends-header {
    font-size: 14px;
    margin-top: 15px;
    border-bottom: 1px solid var(--color-border_white);
    padding-bottom: 5px;
}

.friend-box {
    height: 50px;
    background-color: var(--color-bg-comment);
    margin-top: 5px;
}

.edit-profile-wrapper {
    margin-top: 20px;
    text-align: center;
}

.editbtn {
    flex: 1;
    background-color: var(--color-primary_brand);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
    font-weight: bold;
}

.content-block {
    display: flex;
    justify-content: space-between;
}

.rightsection {
    padding: 10px 10px;
    width: 100%;
}

.biography-text {
    font-size: 12px;
    margin-bottom: 20px;
}

.biography-text a {
    color: var(--color-primary_brand);
    text-decoration: none;

}

.biography-text a:hover {
    text-decoration: underline;
}

.main-header {
    border-bottom: 1px solid var(--color-border_white);
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3px;
}

.stats-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.manga-section {
    margin-top: 20px;
}

.stats-data-col,
.stats-updates-col {
    flex: 1;
}

.stats-header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 12px;
}

.stats-header-row h3 {
    font-weight: normal;
    font-size: 12px;
}

.stats-header-row a {
    text-decoration: none;
    color: var(--color-primary_brand);
}

.stats-header-row a:hover {
    text-decoration: underline;
}

.days-score-row {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: var(--color-text-muted);
    margin-bottom: 4px;
}

.days-score-row strong {
    color: var(--color-text-dark_white);
}

.main-progress-bar {
    width: 100%;
    height: 20px;
    background-color: var(--color-bg-bar);
    border-radius: 2px;
    margin-bottom: 12px;
    overflow: hidden;
}

.bar-fill {
    height: 100%;
}

.bar-fill.green {
    background-color: #2db039;
}

.bar-fill.grey {
    background-color: #2db039;
}

.width-100 {
    width: 100%;
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.status-legend,
.status-totals {
    list-style: none;
    line-height: 1.8;
}

.status-legend {
    width: 60%;
}

.status-totals {
    width: 35%;
    text-align: right;
    color: var(--color-text-dark_white);
}

.status-legend li {
    display: flex;
    align-items: center;
    color: var(--color-primary_brand);
}

.status-legend .count {
    margin-left: auto;
    color: var(--color-text-dark_white);
}

.status-totals li {
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.dot.watching {
    background-color: #2db039;
}

.dot.completed {
    background-color: #26448f;
}

.dot.onhold {
    background-color: #f9d457;
}

.dot.dropped {
    background-color: #a12f31;
}

.dot.plan {
    background-color: #c3c3c3;
}

.no-updates {
    font-size: 12px;
}

.no-updates a {
    color: var(--color-primary_brand);
    text-decoration: none;
}



.comment-box {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-border_white);
    border-radius: var(--border-radius-1);
    font-size: 12px;
    margin-top: 10px;
    background-color: var(--color-bg-input);
    color: var(--color-text-dark_white);
}

.comments-display {
    margin-top: 20px;
}

.comment-item {
    background: var(--color-bg-comment);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 4px solid #2e51a2;
}

.comment-date {
    font-size: 0.8em;
    color: var(--color-text-muted);
}

.comment-text {
    margin-top: 5px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.comment-date {
    font-size: 0.8em;
    color: #666;
}

.comment-text {
    margin-top: 5px;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
}

.delete-btn:hover {
    background-color: #cc0000;
}

.login-link-Log-out {
    display: inline-block;
    padding: 8px 25px;
    background-color: var(--color-primary_brand);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    border-radius: .5em;
    margin: 10px 0px;
}

.login-link-Log-out:hover {
    background-color: rgb(255, 210, 210);
    color: #4f0909;
}

.main-progress-bar {
    width: 100%;
    height: 25px;
    background-color: var(--color-bg-bar);
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    margin: 10px 0;
}

.stat-bar-segment {
    height: 100%;
}

.bg-watching {
    background-color: #2db039;
}

.bg-completed {
    background-color: #26448f;
}

.bg-onhold {
    background-color: #f1c83e;
}

.bg-dropped {
    background-color: #a12f31;
}

.bg-plan {
    background-color: #c3c3c3;
}